
.booty{
    justify-content: center;
}
.purple-bar{
    background-color: #a674d0;
    height: 40px;
}
.content-content{
    padding: 3em 5em;
    margin-bottom: px;
    background-color: #000000;
    color: aliceblue;
}
